{block title}Pet Store{/block}

{block mainContent}
<div id="application"></div>
{/block}

{block asideContent}
<div id="applicationPanel"></div>
{/block}

{block script}
	<script src="javascript/jquery.min.js"></script>
	<script src="javascript/application.js"></script>
	<script>
		let application = new Application('application', 'applicationPanel', {$baseUrl} + '/api/v1');
		application.run();
	</script>
{/block}