* {
    margin: 0; padding: 0;
}

:root {
    font-size: 14pt;
    font-family: Helvetica, Arial, sans-serif;

    --sizing-main-width: 80%;
}

#mainContainer {
    box-sizing: border-box;
    width: 100%;
    min-width: 800px;
}

#main {
    height: 4rem;
    background-color: #dddddd;
    box-shadow: 0 0 1rem 0 #dddddd;
}

#main header h1 {
    font-size: 3rem;
    line-height: 4rem;
    padding-left: 1rem;
}

#mainGrid {
    display: grid;
    grid-template-columns: [first] var(--sizing-main-width) [middle] calc(100% - var(--sizing-main-width)) [end];
    grid-template-rows: [first] 100% [end];
}

main {
    grid-column-start: first;
    grid-column-end: middle;
    padding: 1rem;
    box-sizing: border-box;
    order: 1;
}

aside#panel {
    grid-column-start: middle;
    grid-column-end: end;
    box-sizing: border-box;
    padding: 1rem;
    order: 2;
}

main .pets .pet:not(:last-child) {
    margin-bottom: 1rem;
}

a.button, .button.button {
    display: inline;
    text-decoration: none;
    box-sizing: border-box;
    padding: 0.1rem 1rem;
    cursor: pointer;
    border: 0.1rem solid black;
    border-radius: 1rem;
    font-size: 1rem;
    line-height: 1rem;
    margin: 0;
    height: 1.5rem;
    color: black;
    background-color: white;
}

a.button:not(:last-child), button.button:not(:last-child) {
    margin-right: 0.5rem;
}

a.button.button--danger, button.button.button--danger {
    background-color: lightcoral;
}

a.button.button--important, button.button.button--important {
    background-color: lightgreen;
}

main .pets .pet__empty-set {
    box-sizing: border-box;
    border: 0.2rem solid black;
    border-radius: 0.2rem;
    background-color: lightgrey;
    padding: 0.5rem;
}

main .pets .pet {
    --pet-border-color: #007700;
    --pet-background-color: #DCE8C9;
    box-sizing: border-box;
    border: 0.2rem solid var(--pet-border-color);
    border-radius: 0.2rem;
    background-color: var(--pet-background-color);
    padding: 0.5rem;
    position: relative;
}

main .pets .pet .pet__name {
    font-size: 2rem;
    border-bottom: 0.2rem solid var(--pet-border-color);
    padding: 0 0.5rem 0.5rem 0.5rem;
    margin: 0 -0.5rem 0.3rem -0.5rem;
    position: relative;
}

main .pets .pet .pet__name .pet__menu {
    box-sizing: border-box;
    width: 2rem;
    position: absolute;
    top: 0;
    right: 0.7rem;
}

main .pets .pet .pet__name .pet__menu nav {
    position: relative;
}

main .pets .pet .pet__name .pet__menu nav > .pet__menu__wrap {
    display: none;
    position: absolute;
    z-index: 200;
    box-sizing: border-box;
    border-radius: 0.2rem;
    border: 0.2rem solid var(--pet-border-color);
    background-color: var(--pet-background-color);
}

main .pets .pet .pet__name .pet__menu nav:hover > .pet__menu__wrap {
    display: block;
    top: 2.3rem;
    right: -0.4rem;
    width: 15rem;
}

main .pets .pet .pet__name .pet__menu nav > .pet__menu__wrap a {
    display: block;
    box-sizing: border-box;
    color: var(--pet-border-color);
    text-decoration: none;
}

main .pets .pet .pet__name .pet__menu nav > .pet__menu__wrap a:hover {
    text-decoration: underline;
}

main .pets .pet .pet__name .pet__menu nav > .pet__menu__wrap a.danger {
    color: color-mix(in srgb, var(--pet-border-color), red);
}

main .pets .pet .pet__name .pet__menu nav > span {
    cursor: pointer;
    box-sizing: border-box;
    padding: 0 0.2rem;
    border: 0.2rem solid var(--pet-border-color);
    border-radius: 0.2rem;
}

main .pets .pet .pet__category {
    text-align: right;
    font-style: italic;
}

main .pets .pet .pet__tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: baseline;
    row-gap: 1rem;
    column-gap: 0.5rem;
    width: calc(100% - 5rem);
    margin-top: 0.5rem;
}

main .pets .pet .pet__tag {
    box-sizing: border-box;
    padding: 0.2rem 1rem;
    color: white;
    border-radius: 3rem;
}

main .pets .pet .pet__tag.pet__tag--color-0 {
    background-color: green;
}

main .pets .pet .pet__tag.pet__tag--color-1 {
    background-color: orange;
}

main .pets .pet .pet__tag.pet__tag--color-2 {
    background-color: tomato;
}

main .pets .pet .pet__tag.pet__tag--color-3 {
    background-color: blue;
}

main .pets .pet .pet__tag.pet__tag--color-4 {
    background-color: purple;
}

main .pets .pet .pet__tag.pet__tag--color-5 {
    background-color: white;
    color: black;
}

main .pets .pet .pet__tag.pet__tag--color-6 {
    background-color: cyan;
    color: black;
}

main .pets .pet .pet__tag.pet__tag--color-7 {
    background-color: blueviolet;
    color: black;
}

main .pets .pet .pet__tag.pet__tag--color-8 {
    background-color: gold;
    color: black;
}

main .pets .pet .pet__tag.pet__tag--color-9 {
    background-color: beige;
    color: black;
}

main .pets .pet.pet--sold {
    --pet-border-color: darkred;
    --pet-background-color: #E8CCC9;
}

main .pets .pet.pet--pending {
    --pet-border-color: navy;
    --pet-background-color: #C9D2E8;
}

main .pets .pet .pet__pictures {
    box-sizing: border-box;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    row-gap: 1rem;
    column-gap: 0.5rem;
    min-height: 2rem;
}

main .pets .pet .pet__picture {
    max-width: 20rem;
    max-height: 15rem;
    box-sizing: border-box;
    filter: grayscale(60%);
    transition: ease-in-out 0.5s;
    cursor: pointer;
}

main .pets .pet .pet__picture:hover {
    transition: ease-in-out 0.5s;
    filter: grayscale(0);
}

main .pets .pet .pet__status {
    position: absolute;
    z-index: 100;
    box-sizing: border-box;
    bottom: 0;
    right: 0;
    padding: 0.3rem;
    background-color: var(--pet-background-color);
    border-top: 0.2rem solid var(--pet-border-color);
    border-left: 0.2rem solid var(--pet-border-color);
    border-top-left-radius: 0.3rem;
    text-transform: capitalize;
}

main .pet-form {
    box-sizing: border-box;
    border: 0.2rem solid black;
    border-radius: 0.2rem;
    background-color: lightgrey;
    padding: 0.5rem;
}

main .pet-form:not(:first-child) {
    margin-top: 0.5rem;
}

main .field {
    display: grid;
    grid-template-columns: [first] 20% [middle] 80% [end];
}

main .field__hint {
    margin-left: 20%;
    font-style: italic;
    font-size: 0.8rem;
}

main .field__hint:not(:last-child), main .prompt:not(:last-child) {
    margin-bottom: 0.5rem;
}

main .field:not(:last-child) {
    margin-bottom: 0.5rem;
}

main .field label {
    font-weight: bolder;
}

main .field .field__input {
    width: 100%;
    height: 1.5rem;
    display: block;
    box-sizing: border-box;
}

main .field .field__input.error {
    border-color: red;
    color: darkred;
    background-color: lightcoral;
}

main .field .field__image {
    max-width: 20rem;
    max-height: 15rem;
}

main .field .field__static-text {
    display: block;
    word-wrap: anywhere;
}

main .field .field__as-link {
    text-decoration: underline;
    cursor: pointer;
}

main fieldset {
    box-sizing: border-box;
    border: 0.2rem solid black;
    border-radius: 0.2rem;
    background-color: lightgrey;
    padding: 0.5rem;
}

main fieldset:not(:last-child) {
    margin-bottom: 0.5rem;
}

main fieldset legend {
    box-sizing: border-box;
    border: 0.2rem solid black;
    border-radius: 0.2rem;
    background-color: lightgrey;
    padding: 0.2rem 0.5rem;
}

main .pet-form .tag, main .pet-form .picture {
    margin-bottom: 0.5rem;
}

#panel .controls {
    margin-top: 0.5rem;
}

#filter {
    box-sizing: border-box;
    border: 0.2rem solid darkgray;
    border-radius: 0.2rem;
    background-color: lightgray;
    padding: 0.5rem;
}

#filter .filter__field:not(:last-child) {
    padding-bottom: 0.5rem;
}

#filter .filter__field label {
    display: block;
    font-weight: bolder;
    margin-bottom: 0.2rem;
}

#filter .filter__field select {
    display: block;
    width: 100%;
    height: 1.5rem;
    box-sizing: border-box;
}

#filter .filter__field input[type="text"] {
    display: block;
    width: 100%;
    height: 1.5rem;
    box-sizing: border-box;
}

#filter .filter__field input[type="text"].error {
    border-color: red;
    color: red;
}

#filter .filter__field .filter__field__hint {
    display: block;
    margin-top: 0.2rem;
    font-size: 0.7rem;
    font-style: italic;
}

#notifications {
    position: absolute;
    top: 0;
    z-index: 1000;
    left: 0;
    right: 0;

    margin: 4rem auto 0 auto;
    width: 50%;
    min-width: 600px;
}

#notifications .notification {
    --notification-color: black;
    --notification-background: silver;

    background-color: var(--notification-background);
    color: var(--notification-color);
    box-sizing: border-box;
    margin: 0.5rem 0;
    border: 0.2rem solid var(--notification-color);
    border-radius: 0.5rem;
    padding: 0.4rem;
}

#notifications .notification.notification__success {
    --notification-color: black;
    --notification-background: lightgreen;
}

#notifications .notification.notification__error {
    --notification-color: black;
    --notification-background: #ff6666;
}

@media only screen and (max-width: 1600px) {
    :root {
        --sizing-main-width: 75%;
    }
}

@media only screen and (max-width: 1200px) {
    :root {
        --sizing-main-width: 65%;
    }
}

@media only screen and (max-width: 1000px) {
    #mainGrid {
        display: block;
    }

    aside#panel {
        padding-bottom: 0;
    }

    #filter .filter__field {
        display: grid;
        grid-template-columns: [first] 40% [middle] 60% [end];
        grid-template-rows: [first] 50% [middle] 50% [end];
        align-items: center;
    }

    #filter .filter__field label {
        grid-column-start: first;
        grid-column-end: middle;
        height: 1.5rem;
        margin: 0;
    }

    #filter .filter__field select, #filter .filter__field input[type="text"] {
        grid-column-start: middle;
        grid-column-end: end;
    }

    #filter .filter__field .filter__field__hint {
        grid-column-start: middle;
        grid-column-end: end;
        margin: 0;
    }
}