<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Web</title>
	<link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
	<div id="mainContainer">
		<div id="main">
			<header>
				<h1>Pet Store</h1>
			</header>
		</div>
		<section id="mainGrid">
			<aside id="panel">
				{include asideContent}
			</aside>
			<main>
				{include mainContent}
			</main>
		</section>
	</div>

	{include script}
</body>
</html>
